<h1>Edit Article</h1>

<%= simple_form_for @article do |f| %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :date, as: :date, html5: true, label: "Publish Date" %>
  <%= f.input :content, as: :text, label:"Content" %>
  <%= f.submit "Edit" %>
<% end %>
