<div class="container">
  <h1 class="my-3"><%= @pagy.count %> Articles</h1>
  <%= render "search" %>
  <%= link_to "New", new_article_path, class:"btn btn-primary my-3" %>

  <div class="d-flex justify-content-around flex-wrap">
    <% @articles.each do |article| %>
      <div class="card" style="width: 18rem; margin: 8px;">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">by <%= article.user.username.capitalize %></h6>
          <p class="card-text">published: <%= article.date %></p>
          <h6 class="card-subtitle mb-2 text-muted"><%= article.hits %> views</h6>
          <%= link_to "Show", article_path(article), class: "card-link btn btn-outline-primary" %>
          <% if article.user == current_user %>
            <%= link_to "Edit", edit_article_path(article), class: "card-link btn btn-outline-warning" %>
            <%= link_to "Delete", article_path(article), method: :delete, class: "card-link btn btn-outline-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="m-3">
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
