<h1><%= @article.title %></h1>
<p><%= @article.publish_at %> by <%= @article.user.username.capitalize %></p>
<p><%= @article.content %></p>

<%= render 'comments/form' %>

<% @article.comments.each do |comment| %>
  <p><%= comment.user.username %></p>
  <p><%= comment.content %></p>
<% end %>

