<h1><%= @article.title %></h1>
<p><%= @article.publish_at %> by <%= @article.user.username.capitalize %></p>
<p><%= @article.content %></p>

<%= render 'comments/form' %>

<div class="comment-cards">
  <% @article.comments.each do |comment| %>
    <div class="comment-card">
      <div class="comment-left">
        <img src="https://kansai-resilience-forum.jp/wp-content/uploads/2019/02/IAFOR-Blank-Avatar-Image-1.jpg" class="avatar-round">
        <p><%= comment.user.username %></p>
      </div>
      <div class="comment-right">
        <p><%= comment.content %></p>
      </div>
    </div>
  <% end %>
</div>

