<h1>Manage your articles</h1>

<% if current_user.articles.published.any? %>
  <h2 class="my-3">Your articles</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        <tr>
      </thead>
      <tbody>
        <% current_user.articles.published.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.publish_at %></td>
            <td>
              <%= link_to "Show", article_path(article), class: "card-link btn btn-outline-primary" %>
              <%= link_to icon("fas", "pencil-alt"), edit_article_path(article), class: "card-link btn btn-outline-warning" %>
              <%= link_to icon("fas", "trash-alt"), article_path(article), method: :delete, class: "card-link btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
<% end %>

<% if current_user.articles.draft.any? %>
  <h2 class="my-3">Your unpublished articles</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      <tr>
    </thead>
    <tbody>
      <% current_user.articles.draft.each do |draft| %>
        <tr>
          <td><%= draft.title %></td>
          <td><%= draft.publish_at %></td>
          <td>
            <%= link_to icon("fas", "pencil-alt"), edit_article_path(draft), class: "card-link btn btn-outline-warning" %>
            <%= link_to icon("fas", "trash-alt"), article_path(draft), method: :delete, class: "card-link btn btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
